*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    padding: 60px;
}

input {
    color: lightblue;
    font-size: 1.2rem;
    width: 100%;
}

.card {
    align-content: center;
    border: 1px;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card image {
    max-height: 170px;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}